body{
    margin: 0;
    padding: 0;
    background-image: url("../images/backgroundlogin.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-res{
    background-color: #64c6b6;
    width: 100%;
    overflow: hidden;
    color: white;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 0;
    display: none;
 }
 .navbar-res #bars{
    float: right;
    padding: 0.8rem 1rem;
    text-align: center;
 }
 .navbar-res img{
    padding: 3px ;
    width: 8rem;
    height: 2.4rem;
 }
 #menu-res{
     width: 100%;
     margin-top: 0;
 }
 #nav-res .ul-res{
    list-style: none;
    text-align: center;
 }
 
 #nav-res > .ul-res > .li-res{
    display: block;
    text-align: center;
    padding: 8px 10px;
 }
 
 #nav-res > .ul-res > .li-res > .a-res{
     text-decoration: none;
     text-align: center;
     padding: 8px 10px;
     color: white;
     font-size: large;
 }
 #nav-res #active{
    text-decoration: underline;
 }
 #nav-res > .ul-res > .li-res > .a-res:hover:not(.active){
    text-decoration: underline;
 }
 
  .navbar{
    background-color: #64c6b6;
    width: 100%;
    overflow: hidden;
 }
 
 .navbar img{
    padding: 10px 12px;
    width: 8rem;
    height: 2.4rem;
 }
 .nav-bar{
     float: right;  
     margin-right: 0.5rem;
  }
  .nav-bar ul{
     list-style: none;
  }
  .nav-bar ul li{
     display: inline-block;
  }
  .nav-bar ul li a{
     display: block;
     text-decoration: none;
     text-align: center;
     padding: 8px 10px;
     color: white;
     font-size: large;
  }
  #active{
    text-decoration: underline;
  }
  .nav-bar ul li a:hover:not(.active){
     text-decoration: underline;
  }
 
  @media screen and (max-width: 650px)  {
    .navbar-res{
       display: block;
    }
    .navbar{
       display: none;
    }
 }
.card{
    margin: auto;
    margin-top: 8%;
    background-color: rgba(12, 7, 58, 0.403);
    width: 400px;
    height: 500px;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px 10px 10px 21px;
 
}
.card .form-details{
    margin-top: 5rem;
}
.regcard{
    margin: auto;
    margin-top: 2%;
    background-color: rgba(12, 7, 58, 0.403);
    width: 400px;
    height: 660px;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px 10px 0px 21px;
}

.regfield{
    width: 354px;
    height: 620px;
}

fieldset{
    width: 354px;
    height: 460px;
}
 
.header{
    text-align: center;
    color: white;
}
.header span{
    font-size: 50px;
    font-family: serif;
}
.label-form{
    display: block;
    color: white;
    margin-bottom: 8px;
}
.input-form{
    width: 95%;
    height: 25px;
    margin-bottom: 20px;
}
#rad{
    display: inline-block;
    margin-right: 5rem;
}
#rad1{
    color: white;
}
.btn{
    justify-content: center;
    text-align: center;
    margin: auto;
}
.btn input{
    width:70%;
    height: 40px;
    border-radius: 20px;
    background-color: #D26C6A;
    border: none;
}

.links{
    margin-top: 30px;
}
.links > a{
    display: block;
    color:rgb(13, 190, 99);
}


@media screen and (max-width: 680px) {

    body{
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    .card{
        margin: auto;
        margin-top: 30%;
        background-color: rgba(12, 7, 58, 0.403);
        width: 300px;
        height: 450px;
        display: block;
        justify-content: center;
        align-items: center;
        padding: 30px 10px 10px 21px;
    }
    fieldset{
        width: 254px;
        height: 415px;
    }

    .regcard{
        margin: auto;
        margin-top: 18%;
        background-color: rgba(12, 7, 58, 0.403);
        width: 300px;
        height: 660px;
        display: block;
        justify-content: center;
        align-items: center;
        padding: 30px 10px 0px 21px;
    }
    
    .regfield{
        width: 254px;
        height: 620px;
    }
    #rad{
        display: inline-block;
        margin-right: 3rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1078px) {
    body{
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    .card{
        margin-top: 8%;
    }
    .regcard{
        margin-top: 8%;
    }
}